<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- link icon -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <title>Home - Koi Care System</title>
</head>
<body>
    <!-- header -->
    <header>
        <h1 class="title">KOI CARE SYSTEM AT HOME</h1>
        <nav class="navHeader">
            <ul>
                <li><a  class="home">Home</a></li>
                <li><a  class="product">Sản phẩm</a></li>
                <li><a asp-action="Index" asp-controller="Login" class="login">Đăng nhập</a></li>
                <li><a  class="contact">Liên hệ</a></li> <!-- liên hệ ở bên dưới trang chủ -->
            </ul>
        </nav>
    </header>

    @RenderBody()

    <!--footer-->
    <footer>
        <div class="informationFooter">
            <p class="phone">Số điện thoại: xxxxxxxxxx</p>
            <p class="email">Email:<a href="#">Bug@ut.edu.vn</a></p>
            <p class="quickLinks">
                <a href="#">
                    <img src="/image/icon/facebook-color-svgrepo-com.svg"
                         alt="icon facebook"
                         width="26"
                         height="26" />
                </a>
                <a href="#">
                    <img src="/image/icon/youtube-svgrepo-com.svg"
                         alt="icon youtube"
                         width="26"
                         height="26" />
                </a>
            </p>
        </div>
        <p>&copy; 2024 Koi Care System. All rights reserved.</p>
    </footer>
</body>
</html>
