<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/styleFormLogin.css" />
    <title>Đăng ký</title>
</head>
<body>
    <header>
        <h1>ĐĂNG KÝ TÀI KHOẢN KOI CARE SYSTEM</h1>
        <nav>
            <ul>
                <li><a href="/HTML/Index.html" class="home"> Home</a></li>
                <li><a href="#" class="product">Sản phẩm</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer>

        <p>&copy; 2024 Koi Care System. All rights reserved.</p>
    </footer>
</body>
</html>
