@{
	Layout = "_Login";
}

<main>
    <div class="container">
        <article>
            <section class="auth-section">
                <div class="login-form">
                    <h2>Đăng nhập tài khoản</h2>
                    <form action="#" method="POST">
                        <label for="login-form">Username:</label>
                        <input type="text"
                               id="login-username"
                               name="username"
                               required />

                        <label for="login-password">Password:</label>
                        <input type="password"
                               id="login-password"
                               name="password"
                               required />

                        <button type="submit">login</button>
                    </form>
                    <a asp-action="Index" asp-controller="Register">Đăng ký</a>
                </div>
            </section>
        </article>
    </div>
</main>
