<!--Main-->
<main>
    <article>
        <section class="contentMainHome">
            <h2>Welcome to KOI CARE SYSTEM AT HOME</h2>
            <p>
                Giúp bạ quản lý các thông số nước, cá koi và ao của bạn trong ứng
                dụng cá koi của chúng tôi! Với KOI CARE SYSTEM AT HOME, việc ghi
                chép tẻ nhạt các giá trị nước và dữ liệu cá koi trên giấy đã trở
                thành quá khứ.
            </p>
        </section>
    </article>
</main>